.pending {
padding: 60px;
background-image: url(../images/IMG_1380Banner.jpg);
background-size: cover;
font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  width: 1000px;
  margin: auto;
}

img {
  width: 1000px;
  margin: auto;
}

.fit-picture {
  width: 400px;
}

.picture {
  width: 700px;
}

.topnav {
    background-color: lightblue;
    overflow: hidden;
    width: 1000px;
    margin: auto;
  }
  
  .topnav a {
    float: right;
    background-color:navy;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  .topnav a.active {
    background-color: white;
    color: black;
  }

  footer{
    background-color: yellow;
    position: absolute;
    width: 1000px;
  }

  form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background-color: navy;
  color: white;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}